
.shortcut-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.shortcut-ind {
    font-family: sans-serif;
    padding: 5px;
    border: 1px solid transparent;
}

.shortcut-ind:hover {
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
}